ul, ol{
	margin: 0 0 0 5px;
}

#ds{
	width:300px;
}

#canvasDiv{
	height: 0px;
}

#app-gui{
	height: 420px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#diceDiv{
}

#diceButtonDiv{
	display: block;
	margin-left: 30%;
	margin-right: 20%;
}

#rolledDiceDiv{
	position: relative;
}

#stringDiv{

}

#plotPointSpan{

}

#spacer{
	height: 160px;
}

#ppname{
	display: inline;
}

#version{
	font-size: 11pt;
}

/*overrides of the jQuery ui tab */
.ui-tabs .ui-tabs-panel {
	padding: 0 0 0 0;
}

.ui-tabs .ui-tabs-nav li a{
	padding: .5em .15em;
}

.groupDiv{
	position: relative;
	height: auto;
	padding: 20px 5px;
}

.leftDice{
	position:relative;
	left:25px;
}

.rightDice{
	position: absolute;
	left: 140px;
}

.row{
	height: 40px;
	vertical-align: middle;
	padding: 3px 0 0 0;
}

.shortrow{
	height: 15px;
	vertical-align: middle;
	padding: 3px 0 0 0;
	text-align: center;
}

.button{
	vertical-align: middle;
	margin: 0 5px 0 5px;
}

.minicolors{
	padding: 0 5px 0 5px;
}

.rolledDice{
	height: 32px;
	width: 32px;
	display: inline-block;
	margin: 0 5px 0 5px;
}

.removeText{
	margin: 0 5px 0 0px;
}

.slider-title{
	font-size: 14px;
	position: relative;
	left: 10px;
}

.slider-button{
	position: relative;
	float: right;
	right: 10px;
}

#screenStringsDiv ul .textCheckbox{
	position: relative;
	width: 160px;
	margin: 3px 0px;
}

.lower3rdtextfield{
	position: relative;
	left: 20px;
	width: 170px;
}

.checkboxText{
	padding: 0 0 0 7px;
	vertical-align: middle;
}

.checkbox{
	padding: 0 5px 0 5px;
}

.uploadAvatarDiv{
	padding: 15px 0 0 0;
}

.lower3rdtitle{
	/*position: relative;*/
	right: 20px;
	float: right;
}

.disabled{	
	visibility: hidden;
}