
<div id="diceInputDiv">
    <div class="dierow">
        <dice-button dieid="d4" side="left" sides="4" imageroot="captaingothnog" dieimage="https://s3.amazonaws.com/dicestream/images/captaingothnog/d4.png"></dice-button>
        <dice-button dieid="d6" side="right" sides="6" imageroot="captaingothnog" dieimage="https://s3.amazonaws.com/dicestream/images/captaingothnog/d6.png"></dice-button>
     </div>
     <div class="dierow">
        <dice-button dieid="d8" side="left" sides="8" imageroot="captaingothnog" dieimage="https://s3.amazonaws.com/dicestream/images/captaingothnog/d8.png"></dice-button>
        <dice-button dieid="d10" side="right" sides="10" imageroot="captaingothnog" dieimage="https://s3.amazonaws.com/dicestream/images/captaingothnog/d10.png"></dice-button>             
    </div>
    <div class="dierow">
        <dice-button dieid="d12" side="left" sides="12" imageroot="captaingothnog" dieimage="https://s3.amazonaws.com/dicestream/images/captaingothnog/d12.png"></dice-button>
        <dice-button dieid="d20" side="right" sides="20" imageroot="captaingothnog" dieimage="https://s3.amazonaws.com/dicestream/images/captaingothnog/d20.png"></dice-button>             
    </div>
    <div class="dierow">
        <dice-button dieid="fudge" side="left" sides="3" imageroot="captaingothnog" dieimage="https://s3.amazonaws.com/dicestream/images/captaingothnog/d3.png"></dice-button>
        <dice-button dieid="d100" side="right" sides="100" imageroot="captaingothnog" dieimage="https://s3.amazonaws.com/dicestream/images/captaingothnog/d100.png"></dice-button>
    </div>
</div>
                                                                                                                   
                                                                                                                   