
<div id="diceInputDiv>
    <div class="row">
        <dice-button side="left" die="4"></dice-button>
        <dice-button side="right" die="6"></dice-button>
     </div>
     <div class="row">
        <dice-button side="left" die="8"></dice-button>
        <dice-button side="right" die="10"></dice-button>             
    </div>
    <div class="row">
        <dice-button side="left" die="12"></dice-button>
        <dice-button side="right" die="20"></dice-button>             
    </div>
    <div class="row">
        <dice-button side="left" die="3"></dice-button>
        <dice-button side="right" die="100"></dice-button>             
    </div>
</div>
                                                                                                                   
                                                                                                                   