<span class="{{side}}Dice">
    <button class="button btn btn-mini" ng-click="decDieCount()"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
    <!--  TODO - change this to allow for svg graphics ??  -->
    <span ng-click="incDieCount()"><img ng-src="{{dieimage}}" width="32" height="32"></img></span>
    <button class="button btn btn-mini" ng-click="incDieCount()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    <span class="dieCount label">{{diedata.count}}</span>
</span>