
<div id="diceInputDiv>
    <div class="row">
        <dice-button side="left" die="d4"></dice-button>
        <dice-button side="right" die="d6"></dice-button>
     </div>
     <div class="row">
        <dice-button side="left" die="d8"></dice-button>
        <dice-button side="right" die="d10"></dice-button>             
    </div>
    <div class="row">
        <dice-button side="left" die="d12"></dice-button>
        <dice-button side="right" die="d20"></dice-button>             
    </div>
    <div class="row">
        <dice-button side="left" die="d3"></dice-button>
        <dice-button side="right" die="d100"></dice-button>             
    </div>
    <div class="row">
        <div id="diceButtonDiv">
            <input class="button btn btn-primary" type="button" value="Roll" id="roll" name="" ng-click="roll()"/>
            <input class="button btn btn-primary" type="button" value="Clear" id="clear" name="" ng-click="clear()"/>
        </div>
    </div>
</div>