#diceDiv{
}

#app-gui{
	overflow-y: auto;
}
#rolledDiceDiv{
	position: relative;
	top: 10px;
	left: 25px;
	height:40px;
	width: 250px;
}

#stringDiv{
	/*overflow-y: auto;*/
}

#ppname{
	display: inline;
}

#plotPointSpan{
	/*height: 60px;
	position: relative;
	top: 10px;
	left: 25px;*/
}

.groupDiv{
	position: relative;
	height: auto;
	padding: 5px 5px;
}

.leftDice{
	position:absolute;
	left:25px;
}

.rightDice{
	position:absolute;
	right:25px;
}

.diceImage{
	background-size:32px 32px;
	background-repeat:no-repeat;
}

.row{
	height: 40px;
	vertical-align: middle;
	padding: 3px 0 0 0;
}

.shortrow{
	height: 15px;
	vertical-align: middle;
	padding: 3px 0 0 0;
	text-align: center;
}

.button{
	vertical-align: middle;
}

.minicolors{
	padding: 0 5px 0 5px;
}

.rolledDice{
	display: inline;
	float: left;
}

.slider-title{
	font-size: 14px;
}
.slider-button{
	float: right;
}

.disabled{	
	visibility: hidden;
}