ul, ol{
	margin: 0 0 0 5px;
}

#ds{
	width:300px;
}

#canvasDiv{
	height: 0px;
}

#app-gui{
	height: 380px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#diceDiv{
}


#rolledDiceDiv{
	position: relative;
}

#stringDiv{

}

#plotPointSpan{

}

#spacer{
	height: 160px;
}

#ppname{
	display: inline;
}

.groupDiv{
	position: relative;
	height: auto;
	padding: 5px 5px;
}

.leftDice{
	position:relative;
	left:25px;
}

.rightDice{
	position: absolute;
	left: 150px;
}

.row{
	height: 40px;
	vertical-align: middle;
	padding: 3px 0 0 0;
}

.shortrow{
	height: 15px;
	vertical-align: middle;
	padding: 3px 0 0 0;
	text-align: center;
}

.button{
	vertical-align: middle;
	margin: 0 5px 0 5px;
}

.minicolors{
	padding: 0 5px 0 5px;
}

.rolledDice{
	height: 32px;
	width: 32px;
	display: inline-block;
	margin: 0 5px 0 5px;
}

.removeText{
	margin: 0 5px 0 0px;
}

.slider-title{
	font-size: 14px;
	position: relative;
	left: 10px;
}

.slider-button{
	position: relative;
	float: right;
	right: 10px;
}

#screenStringsDiv ul .textCheckbox{
	position: relative;
	width: 160px;
	margin: 3px 0px;
}

.lower3rdtextfield{
	position: relative;
	left: 20px;
	width: 170px;
}

.lower3rdtitle{
	position: relative;
	right: 20px;
	float: right;
}

.disabled{	
	visibility: hidden;
}