<div id="diceTab" class="tabBorder" ng-controller="diceTabCtrl as vm">
    <div id="diceInterfaceDiv" ng-include="'%rootPath%/partials/baseDiceSelection.html'"></div>
    <div id="diceButtonDiv">
        <input class="button btn btn-primary" type="button" value="Roll" id="roll" name="" ng-click="vm.roll()"/>
        <input class="button btn btn-primary" type="button" value="Clear" id="clear" name="" ng-click="vm.clear()"/>
    </div>
    <div id="counterDiv">
        <ds-counter></ds-counter>
    </div>
    <div id="dicetrayDiv">
        <ds-tray-dice die="{{trayDie.side}}" value="{{trayDie.value}}" url="{{trayDie.url}}" position="{{$index}}" ng-repeat="trayDie in vm.getDicetray()"></ds-tray-dice>
    </div>
</div>