<div ng-controller="settingsCtrl">
    <div>
        <div>Dice</div>
        <color-select text="Circle Color" color="settings.DICE.SELECTIONS.CIRCLE.color" checked="settings.DICE.SELECTIONS.CIRCLE.enabled" change="save()"></color-select>
        <color-select text="Hex Color" color="settings.DICE.SELECTIONS.HEX.color" checked="settings.DICE.SELECTIONS.HEX.enabled"></color-select>
        <color-select text="X Color" color="settings.DICE.SELECTIONS.X.color" checked="settings.DICE.SELECTIONS.X.enabled"></color-select>
        <div><input type="checkbox" ng-checked="settings.DICE.CLEAR_SELECTION.enabled" ng-click="save()"/><span>Clear Selection after roll</span></div>
        <div><input type="checkbox" ng-checked="settings.DICE.CLEAR_TRAY.enabled" ng-click="save()"/><span>Clear Dice Before new Roll</span></div>
    </div>
    <div>
        <div>Text Cards</div>
        <color-select hide-checkbox="true" text="Text card bg color" color="settings.CARD_BG_COLOR.color"></color-select>
        <color-select hide-checkbox="true" text="Text card color" color="settings.CARD_TEXT_COLOR.color"></color-select>
    </div>
    <!--<div>-->
        <!--<div>Lower Third</div>-->
        <!--<div><input type="checkbox" /><span>Show Lower 3rd At Startup</span></div>-->
    <!--</div>-->
    <div>
        <div>Misc</div>
        <div><input type="checkbox" ng-model="settings.MISC.MIRROR_VID.enabled" ng-click="toggleMirroredVideo()"/><span>Mirror Video</span></div>
    </div>
</div>
