ul, ol{
	margin: 0 0 0 5px;
}

#ds{
	width:300px;
}

#canvasDiv{
	height: 0px;
}

#app-gui{
	height: 420px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#diceDiv{
}

#diceButtonDiv{
	display: block;
	margin-left: 30%;
	margin-right: 20%;
}

#dicetrayDiv{
	position: relative;
	margin-top: 10px;
}

#lowerThirdTab{
    height:300px;   
}

#stringDiv{

}

#plotPointSpan{

}

#spacer{
	height: 160px;
}

#ppname{
	display: inline;
}

#version{
	font-size: 11pt;
}
.csWrapper{
	padding-top: 3px;
	padding-left: 10px;
}

.csWrapper .csCheckbox {
    display: inline-block;
    position: relative;
	top: -2px;
}

.csColorBox{
    display: inline-block;
    top: 5px;
    position: relative;
	width:120px;
}

.csWrapper .csLabel{
    display: inline-block;
    position: relative;
}

.textWrapper{
	padding-top:3px;
	padding-left:10px;
}

.settingsHeader{
	font-weight: bolder;
}

.settingsGroup:not(:first-child){
	padding-top: 20px;
}

.helpDiv{
	padding: 0 0 0 10px;
	list-style-type: none;	
}

.helpHeader{
	position: relative;
	left: -10px;
	font-style: italic;	
    font-size: 10px;
}

.helpList ul{
	font-style: italic;
    font-size: 10pt;
}

.helpList li{
    font-size: 9pt;
}

/*overrides of the jQuery ui tab */
.ui-tabs .ui-tabs-panel {
	padding: 0 0 0 0;
}

.ui-tabs .ui-tabs-nav li a{
	padding: .5em .15em;
}

.groupDiv{
	position: relative;
	height: auto;
	padding: 20px 5px;
}

.leftDice{
	position:relative;
	left: -7px;
}

.rightDice{
	position: relative;
	left: 16px;
}

.dierow{
	height: 40px;
	vertical-align: middle;
	padding: 3px 0 0 0;
}

.shortrow{
	height: 15px;
	vertical-align: middle;
	padding: 3px 0 0 0;
	text-align: center;
}

.button{
	vertical-align: middle;
	margin: 0 5px 0 5px;
}

.minicolors{
	padding: 0 5px 0 5px;
}

.trayDie{
	height: 38px;
	width: 38px;
	display: inline-block;
	margin: 0 5px 0 5px;
}

.trayDieImage{
    margin: 3px 3px 3px 3px;
}

.removeText{
	margin: 0 5px 0 0px;
}

.slider-title{
	font-size: 14px;
	position: relative;
	left: 10px;
}

.slider-button{
	position: relative;
	float: right;
	right: 10px;
}

#screenStringDiv  ul .textCheckbox{
	position: relative;
	width: 160px;
	margin: 3px 0px;
}

.lower3rdtextfield{
	position: relative;
	left: 20px;
	width: 170px;
}

.checkboxText{
	padding: 0 0 0 7px;
	vertical-align: middle;
}

.checkbox{
	padding: 0 5px 0 5px;
}

.uploadAvatarDiv{
	padding: 15px 0 0 0;
}

.lower3rdtitle{
	/*position: relative;*/
	right: 20px;
	float: right;
}

.disabled{	
	visibility: hidden;
}

.tabBorder{
	padding-left:15px;
}

.text-widget-details{
	background-color: #dddddd;
}

.text-widget-border{
	border-radius: 5px;
	border: 1px solid #0099ff;
}