<div class="csWrapper">
    <div class="csCheckbox"><input type="checkbox" ng-model="vm.showCounter" ng-click="vm.toggleCounter()"></div>
    <div class="csColorBox"><color-picker ng-model="vm.counterColor" color-picker-pos="'top left'" color-picker-swatch-only="false" color-picker-format="'hex'" color-picker-alpha="false"></color-picker></div>
    <button class="button btn btn-mini" ng-click="vm.decCount()"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
    <button class="button btn btn-mini" ng-click="vm.incCount()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    <span class="dieCount label">{{vm.counter}}</span>
</div>